[Unit]
Description=Reset root password
#ConditionKernelCommandLine=debug

[Install]
WantedBy=getty.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'echo root:root|/usr/sbin/chpasswd'
